In [1]:
import mysql.connector

In [2]:
import pandas as pd
from pymysql import connect

In [3]:
# Connect to MySQL server 
conn = connect(
    host="localhost",
    user="root",
    password="12345678"
)
cursor = conn.cursor()

In [4]:
# Create a new database
cursor.execute("CREATE DATABASE IF NOT EXISTS noon;")
cursor.execute("USE noon;")

0

In [5]:
# Create table query with `Condition` keyword in backticks
create_table_query = """
CREATE TABLE Mobile_Devices (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    SIM_Count VARCHAR(50),
    RAM_Size_GB INT,
    Battery_Size_mAh INT,
    Internal_Memory_GB INT,
    Version VARCHAR(50),
    Screen_Size_inches DECIMAL(4,2),
    SIM_Type VARCHAR(20),
    Colour_Name VARCHAR(30),
    `Condition` VARCHAR(20),
    Model_Number VARCHAR(50),
    Model_Name VARCHAR(100),
    Title VARCHAR(255),
    Price DECIMAL(10,2),
    Brand VARCHAR(50),
    Rating DECIMAL(3,2),
    Secondary_Camera_Resolution_MP INT,
    Charging_Type VARCHAR(30),
    Fast_Charging VARCHAR(50),
    Number_of_Cores INT,
    Model_Year INT,
    Network_Type VARCHAR(50),
    Primary_Camera_MP INT,
    Voice_Calling_Capability BOOLEAN
);
"""
cursor.execute(create_table_query)
print("Table Mobile_Devices created successfully.")

OperationalError: (1050, "Table 'mobile_devices' already exists")

In [6]:

insert_query = """
    INSERT INTO Mobile_Devices (
        SIM_Count, RAM_Size_GB, Battery_Size_mAh, Internal_Memory_GB, Version, 
        Screen_Size_inches, SIM_Type, Colour_Name, `Condition`, Model_Number, 
        Model_Name, Title, Price, Brand, Rating, 
        Secondary_Camera_Resolution_MP, Charging_Type, Fast_Charging, 
        Number_of_Cores, Model_Year, Network_Type, Primary_Camera_MP, 
        Voice_Calling_Capability
    ) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Read data from CSV file
csv_file_path = r"C:\Users\alabdeen\Desktop\NTI DA\Day 15 -Final Project\noon_mobile_after_Processing_final_project (1).csv"
data = pd.read_csv(csv_file_path)

# Convert DataFrame to a list of tuples for insertion
data_tuples = [tuple(row) for row in data.values]

# Execute the insert query for each row
cursor.executemany(insert_query, data_tuples)

# Commit changes and close the connection
conn.commit()
print("Records inserted successfully.")

DataError: (1366, "Incorrect integer value: 'Octa Core' for column 'Number_of_Cores' at row 1")

In [7]:
select_query = "SELECT * FROM Mobile_Devices"

# Execute the select query
cursor.execute(select_query)

# Fetch all rows from the result
rows = cursor.fetchall()

# Get column names
columns = [col[0] for col in cursor.description]

# Create a DataFrame to display the data
data_df = pd.DataFrame(rows, columns=columns)

# Display the data
print(data_df)

Empty DataFrame
Columns: [ID, SIM_Count, RAM_Size_GB, Battery_Size_mAh, Internal_Memory_GB, Version, Screen_Size_inches, SIM_Type, Colour_Name, Condition, Model_Number, Model_Name, Title, Price, Brand, Rating, Secondary_Camera_Resolution_MP, Charging_Type, Fast_Charging, Number_of_Cores, Model_Year, Network_Type, Primary_Camera_MP, Voice_Calling_Capability]
Index: []

[0 rows x 24 columns]

In [ ]:
import pandas as pd
import mysql.connector

# MySQL connection parameters
host_name = 'localhost'
user_name = 'root'
user_password = '12345678'
db_name = 'testdata'
table_name = 'students'  # Update this to your table name

# CSV file path
csv_file_path = r"C:\Users\alabdeen\Desktop\NTI DA\Day 15 -Final Project\noon_mobile_after_Processing_final_project (1).csv"  # Update this to your CSV file path

# Create a MySQL connection
mydb = mysql.connector.connect(
    host=host_name,
    user=user_name,
    password=user_password,
    database=db_name
)

# Read the CSV file into a DataFrame
data = pd.read_csv(r"C:\Users\alabdeen\Desktop\NTI DA\Day 15 -Final Project\noon_mobile_after_Processing_final_project (1).csv")

# Create a cursor object
cursor = mydb.cursor()

# Insert data into MySQL
for index, row in data.iterrows():
    sql = f"INSERT INTO {table_name} ({', '.join(data.columns)}) VALUES ({', '.join(['%s'] * len(row))})"
    cursor.execute(sql, tuple(row))

# Commit the transaction
mydb.commit()

# Close the cursor and connection
cursor.close()
mydb.close()

print(f"Inserted {len(data)} records into {table_name}")

In [ ]:
import mysql.connector
import pandas as pd  # Import pandas for handling data frames

try:
    # Connect to MySQL server
    conn = mysql.connector.connect(
        host="localhost",  # Use "localhost" or your server's hostname
        port=3306,         # Port number (default is 3306)
        user="root",
        password="12345678"
    )
    
    # Create a cursor object
    cursor = conn.cursor()

    # Create table if it doesn't exist
    create_table_query = """
    CREATE TABLE IF NOT EXISTS Mobile_Devices (
        ID INT AUTO_INCREMENT PRIMARY KEY,
        SIM_Count INT,
        RAM_Size_GB INT,
        Battery_Size_mAh INT,
        Internal_Memory_GB INT,
        Version VARCHAR(50),
        Screen_Size_inches DECIMAL(4,2),
        SIM_Type VARCHAR(20),
        Colour_Name VARCHAR(30),
        Condition VARCHAR(20),
        Model_Number VARCHAR(50),
        Model_Name VARCHAR(100),
        Title VARCHAR(255),
        Price DECIMAL(10,2),
        Brand VARCHAR(50),
        Rating DECIMAL(3,2),
        Secondary_Camera_Resolution_MP INT,
        Charging_Type VARCHAR(30),
        Fast_Charging BOOLEAN,
        Number_of_Cores INT,
        Model_Year INT,
        Network_Type VARCHAR(50),
        Primary_Camera_MP INT,
        Voice_Calling_Capability BOOLEAN
    );
    """
    
    # Execute the create table query
    cursor.execute(create_table_query)

    # Insert data from CSV (if applicable)
    insert_query = """
        INSERT INTO Mobile_Devices (
            SIM_Count, RAM_Size_GB, Battery_Size_mAh, Internal_Memory_GB, Version, 
            Screen_Size_inches, SIM_Type, Colour_Name, Condition, Model_Number, 
            Model_Name, Title, Price, Brand, Rating, 
            Secondary_Camera_Resolution_MP, Charging_Type, Fast_Charging, 
            Number_of_Cores, Model_Year, Network_Type, Primary_Camera_MP, 
            Voice_Calling_Capability
        ) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    
    # Uncomment the following lines if you want to insert data from CSV
    # csv_file_path = "noon_mobile.csv"
    # data = pd.read_csv(csv_file_path)
    # data_tuples = [tuple(row) for row in data.values]
    # cursor.executemany(insert_query, data_tuples)
    # conn.commit()

    # Select query
    select_query = "SELECT * FROM Mobile_Devices"

    # Execute the select query
    cursor.execute(select_query)

    # Fetch all rows from the result
    rows = cursor.fetchall()

    # Get column names
    columns = [col[0] for col in cursor.description]

    # Create a DataFrame to display the data
    data_df = pd.DataFrame(rows, columns=columns)

    # Display the data
    print(data_df)

except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    # Clean up
    if cursor:
        cursor.close()
    if conn:
        conn.close()